.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #4fdbf3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.button.active {
    background-color: #ffa500; 
}

.button.submitted {
    background-color: #32cd32; 
}

.stars {
    display: none; 
    position: absolute;
    top: 0;
    left: 50%;
}

.button:hover .stars {
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
